.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: black;
}
.heading {
  color: white;
  font-size: 5vh;
  padding-top: 4vh;
}
.gamearea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playground {
  margin: auto;
  padding: 8vh;
  width: 60vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vh;
}

.block {
  cursor: pointer;
  height: 16vmin;
  width: calc(33.33% - 2vh);
  border-radius: 1vh;
  border: none;
  box-shadow: 0 0 3vh rgba(255, 255, 255, 0.3);
  font-size: 8vh;
  text-align: center;
  color: rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
}
.block:hover[data-next-value]:not([data-next-value=""])::after {
  content: attr(data-next-value);
  position: relative;
  color: rgb(45, 45, 45);
  height: 16vmin;
  width: calc(33.33% - 2vh);
  font-size: 8vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
}
.win {
  background-color: rgb(0, 203, 95);
  color: black;
}
.result {
  color: rgb(0, 203, 95);
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reset {
  padding: 2vh;
  cursor: pointer;
  background-color: rgb(0, 203, 95);
  color: black;
  border-radius: 1vh;
  margin-top: 4vh;
  border: none;
  font-size: 2vh;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}
